spring:
  application:
    name: mscartoes
  rabbitmq:
    host: ${RABBITMQ_SERVER}
    port: 5672
    username: guest
    password: guest

# will it starts with random port
server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@${EUREKA_SERVER}:${EUREKA_SERVER_PORT}/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instant_id:${random.value}}

mq:
  queues:
    emissao-cartoes: emissao-cartoes

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  file:
    name: ./logs/log-file.log